Pillow
pyyaml>=5.1
sentencepiece
tensorboard
tensorboardX
textgrid
pytest
flake8==3.8.2
flake8-bugbear
flake8-comprehensions
flake8-executable
flake8-pyi==20.5.0
mccabe
pycodestyle==2.6.0
pyflakes==2.2.0
torch==1.13.0
torchaudio==0.13.0
faiss==1.7.3
faiss_gpu==1.7.2
Flask==3.0.0
jiwer==3.0.3
lhotse==1.18.0
librosa==0.9.2
matplotlib==3.6.0
numpy==1.23.5
setuptools==61.2.0
six==1.16.0
soundfile==0.11.0
TextGrid==1.5
tqdm==4.65.0
transformers==4.26.1
